@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Open+Sans:wght@400;800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Assistant', sans-serif;
}

html, body {
    @apply h-screen;
}

body {
    @apply w-full;
}